{:literals {0 OP_0
            1 OP_1
            2 OP_2
            3 OP_3
            4 OP_4
            5 OP_5
            6 OP_6
            7 OP_7
            8 OP_8
            9 OP_9
            10 OP_10
            11 OP_11
            12 OP_12
            13 OP_13
            14 OP_14
            15 OP_15
            16 OP_16}
 
 :symbols {+ OP_ADD
           - OP_SUB
           inc OP_1ADD
           dec OP_1SUB
           neg OP_NEGATE
           abs OP_ABS
           not OP_NOT
           = OP_EQUAL
           num= OP_NUMEQUAL}}
;; unused symbols to simplify regex for now:  < > <= >=
;; TODO crypto + inputs to crypto, to really make things interesting
